{% extends "global/Base.html" %} {% load staticfiles otree_tags %}

{% block title %} Part 1 {% endblock %}

{% block scripts %}
<script type="text/javascript">
jQuery(document).ready(function ($) {
   var target = $('#target').val();
    console.log(target);

});

</script>


{% endblock %}


{% block content %}

<p>
You are ready to begin part 1.
</p>

{% if subsession.debug_mode == True %}
<p>{{group.treatment_endowment}}</p>
<p>{{group.treatment_treatment}}</p>
<p>{{player.p_role}}</p>
<p>{{group.b_message_price}}</p>
<p>{{group.price_display}}</p>
<p>{{group.price_method}}</p>
<input id = 'target'  type = "number" value = {{group.target_income}} style = 'display: none;'>
{% endif %}

{% next_button %}

{% endblock %}