{% extends "global/Base.html" %} {% load staticfiles otree_tags %}

{% block title %} Part 1 Result{% endblock %}

{% block content %}

{% if player.id_in_group == 1 %}
    <p>
        Your role is A
        In this experiment, you have received ${{Constants.endowment}} and earned ${{player.task_reward}} for a total of ${{player.final_reward}}
    </p>
    <p>
        Your partner is B
        In this experiment, they have received ${{Constants.endowment}} and earned ${{partner.task_reward}} for a total of ${{partner.final_reward}}
    </p>
{% elif player.id_in_group == 2 %}
    <p>
        Your role is B
        In this experiment, you have received ${{Constants.endowment}} and earned ${{player.task_reward}} for a total of ${{player.final_reward}}
    </p>
    <p>
        Your partner is A
        In this experiment, they have received ${{Constants.endowment}} and earned ${{partner.task_reward}} for a total of ${{partner.final_reward}}
    </p>

{% else %}

<p>You are neither A nor B</p>
{% endif %}

{% next_button %}

{% endblock %}