{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Questionnaire
{% endblock %}

{% block styles %}
<link href="{% static "vickrey_auction/jquery-ui/jquery-ui.min.css" %}" rel="stylesheet">
<style type="text/css">
    .bid-slider {
        margin: .5em auto;
    }

    .bid {
        text-align: center;
    }
    .textlabel{
        border:0;
        color:#f6931f;
        font-weight:bold;
    }

    .payoff {
        margin: 1.5em 0;
    }
</style>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static "vickrey_auction/jquery-ui/jquery-ui.min.js" %}"></script>
<script type="text/javascript">
jQuery(document).ready(function ($) {

//    var input;// = $('#id_slide1text');

    var numSliders = 6;
    for (var iSlide = 1; iSlide<= numSliders; iSlide ++){

        $('#id_slide'+ iSlide + 'text').val(null);
        $('#slide'+ iSlide+ "text").val(null);

        $("#slide" + iSlide).slider({
          orientation: "horizontal",
          max: 10,min: 0,
            value: -1,
          slide: function (event, ui){
              var tempName = this.id;
              $('#id_'+ tempName + 'text').val(ui.value);
              ui.handle.style.display = "inline";
              console.log(tempName);
              $('#'+ tempName + "text").val(ui.value);
              updateValues(tempName);
              checkValid(tempName);
          }
        });
    };

    function checkValid(){
        var myVal
        for(var j = 1; j <= numSliders; j++){
            myVal = $('#id_slide' + j + 'text').val() ;
            console.log(myVal);
            if( !myVal){
                $("#hideNext").hide();
                return
            } else{
                $("#hideNext").show();
            }
        }
    };

    $(".ui-slider-handle").hide();
    $("#hideNext").hide();


    function updateValues(name) {
        $('.' + name).text(10 - $("#" + name + 'text').val());
        $('.' + name + 'x').text($("#" + name + 'text').val());
    }
});
</script>
{% endblock %}

{% block content %}


    <div class="form-group required">

        <div class="controls">

            <div class="row">
                <div class="col-md-2">(<span class="slide1" ></span>) Good-mood </div>
                <div class="col-md-8" id="slide1"></div>
                <div class="col-md-2">Bad-mood (<span class="slide1x" id="slide1text" type="hidden" readonly ></span>)</div>
                <br>
                <input type="hidden" name="survey_response0" id="id_slide1text" value="0">
            </div>

            <div class="row">
                <div class="col-md-2">(<span class="slide2" ></span>) Happy </div>
                <div class="col-md-8" id="slide2"></div>
                <div class="col-md-2">Sad(<span class="slide2x"  type="hidden" id="slide2text" readonly ></span>)</div>
                <br>
                <input type="hidden" name="survey_response1" id="id_slide2text" value="0">
            </div>

            <div class="row">
                <div class="col-md-2">(<span class="slide3" ></span>) Satisfied</div>
                <div class="col-md-8" id="slide3"></div>
                <div class="col-md-2">Depressed (<span class="slide3x"  type="hidden" id="slide3text" readonly ></span>)</div>
                <br>
                <input type="hidden" name="survey_response2" id="id_slide3text" value="0">
            </div>

            <div class="row">
                <div class="col-md-2">(<span class="slide4" ></span>) Cheerful </div>
                <div class="col-md-8" id="slide4"></div>
                <div class="col-md-2">gloomy(<span class="slide4x"  type="hidden" id="slide4text" readonly ></span>)</div>
                <br>
                <input type="hidden" name="survey_response3" id="id_slide4text" value="0">
            </div>

            <div class="row">
                <div class="col-md-2">(<span class="slide5" ></span>) Pleased</div>
                <div class="col-md-8" id="slide5"></div>
                <div class="col-md-2">Displeased (<span class="slide5x"  type="hidden" id="slide5text" readonly ></span>)</div>
                <br>
                <input type="hidden" name="survey_response4" id="id_slide5text" value="0">
            </div>

            <div class="row">
                <div class="col-md-2">(<span class="slide6" ></span>) Joyful </div>
                <div class="col-md-8" id="slide6"></div>
                <div class="col-md-2">Sorrowful (<span class="slide6x"  type="hidden" id="slide6text" readonly ></span>)</div>
                <br>
                <input type="hidden" name="survey_response5"  id="id_slide6text" value="0">
            </div>
            </div>
    </div>


        </div>
    </div>
    <div id="hideNext"  style="margin-left: 300px; display: none;">
        {% next_button %}
    </div>
{% endblock %}
