{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Questionnaire
{% endblock %}

{% block styles %}
<link href="{% static "jquery-ui/jquery-ui.min.css" %}" rel="stylesheet">
<style type="text/css">
    .bid-slider {
        margin: .5em auto;
    }

    .bid {
        text-align: center;
    }
    .row{
        margin-bottom: 20px;
    }
    .textlabel{
        border:0;
        color:#f6931f;
        font-weight:bold;
    }

    .payoff {
        margin: 1.5em 0;
    }
</style>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src={% static "jquery-ui/jquery-ui.min.js" %}></script>
<script type="text/javascript" src = {% static "jsFiles/surveySliders.js" %} ></script>
{% endblock %}

{% block content %}


<div class="controls">

</div>


    <div id="hideNext"  style=" display: none;">
        {% next_button %}
    </div>

{% if subsession.debug_mode == True %}
{% next_button %}
{% endif %}
{% endblock %}
