{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instruction Video
{% endblock %}

{% block content %}
  <p>value from last page is {{player.survey_response}}</p>

  <div class="container">
    <div class="row">
      <div class="col-mid-4 col-mid-offset-4">
        <h3 class="text-center">A Video will be displayed here</h3>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <iframe width="420" height="345" src="https://www.youtube.com/embed/YgdR5FvnNPc">
      </iframe>
      </div>
    </div>
  </div>


    {% next_button %}
{% endblock %}


