{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Willingness
{% endblock %}

{% block content %}

<p>

    Your counterpart, A, has transferred {{group.A_takes}}% of your income ({{taken_amount}}) to his/her own account.
Your avaliable earnings are now $6.90
</p>
<p>
    What is the maximum amount you would be willing to pay to write and send a message that your counterpart A will read?
</p>
    {% formfield group.B_willing with label="How much will you pay?" %}
<p>The actual price of sending a message will be shown on the next screen.</p>
    {% next_button %}
{% endblock %}


